// *** COLORS ***
$main-color = #000

// content
$content-link = #00f
$content-link-active = $content-link
$content-link-hover = darken( $content-link, 30% )
$content-link-visited = lighten( $content-link, 30% )

$caption-background = lighten( $main-color, 75% )

// form
$input-background-color = #fff
$input-border-color = lighten( $main-color, 75% )
$input-text-color = $main-color

$input-hover-background-color = $input-background-color
$input-hover-border-color = $main-color
$input-hover-text-color = $input-text-color

$input-focus-background-color = $input-background-color
$input-focus-border-color = $main-color
$input-focus-text-color = $input-text-color

$input-disabled-background-color = #ddd
$input-disabled-border-color = darken( #ddd, 30% )
$input-disabled-text-color = darken( #ddd, 30% )

$input-invalid-background-color = lighten( #f00, 70% )
$input-invalid-border-color = #f00
$input-invalid-text-color = lighten( #f00, 30% )

$button-background-color = $main-color
$button-text-color = #fff

// *** FONTS ***
$sans-serif = Helvetica Neue, Helvetica, Arial, sans-serif
$serif = TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif
$monospace = Consolas, monaco, monospace

$body-font = $sans-serif
$heading-font = $serif

$font-size-base = 14px

$font-size-h1 = floor( $font-size-base * 2.6 )
$font-size-h2 = floor( $font-size-base * 2.15 )
$font-size-h3 = ceil( $font-size-base * 1.7 )
$font-size-h4 = ceil( $font-size-base * 1.25 )
$font-size-h5 = $font-size-base
$font-size-h6 = ceil( $font-size-base * .85 )
