img
    height auto
    max-width 100%

.alignleft
    float left
    margin 0 1em 1em 0

.alignright
    float right
    margin 0 0 1em 1em

.wp-caption
    background $caption-background
    text-align center

    img
        padding-top 5px

    p
        margin 0
        padding 1em

    &.aligncenter
        clear both
        margin 0 auto

    &.alignnone
        clear both
