a
    color $content-link

    &:active
        color $content-link-active

    &:hover
        color $content-link-hover

    &:visited
        color $content-link-visited

code,
kbd,
samp,
tt
    font-family $monospace
